body {
  position: relative;
  z-index: 2;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: #fff;
  background-color: #0d0e12;
  cursor: default;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../images/footer.png");
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1480px;

  @include m($md) {
    padding: 0 30px;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  background-image: url("../images/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 280px;
    background-image: linear-gradient(180deg, rgba(13, 14, 18, 0) 0%, #0d0e12 88.02%);
  }

  &::after {
    content: url("../images/car.png");
    position: absolute;
    right: -7%;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
  }

  .reserve {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;

    &::before {
      content: "";
      position: absolute;
      right: 20%;
      top: 20%;
      width: 480px;
      height: 480px;
      background-color: #939393;
      filter: blur(500px);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      background-image: url("../images/oskolki.png");
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;

    h1 {
      position: relative;
      margin-bottom: 41px;
      font-weight: 800;
      font-size: 96px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;

      &::after {
        content: url("../images/hero-rocket.png");
        position: absolute;
        right: -20%;
        top: -73%;
      }

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #f4c361;
        color: #f4c361;
      }
    }

    p {
      position: relative;
      margin-bottom: 54px;
      padding-left: 62px;
      max-width: 594px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.4;
      color: #fff;

      &::before {
        content: "—";
        position: absolute;
        left: 7px;
        top: 0;
        width: 19px;
        height: 20px;
      }

      span {
        font-weight: 700;
      }
    }

    .about__button {
      margin: 0 auto 0 0 !important;
    }
  }
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

  span {
    color: #f4c361;
  }

  @include m(1400) {
    font-size: 48px;
  }

  @include m($lg) {
    font-size: 42px;
  }

  @include m($md) {
    font-size: 24px;
  }
}

.rv-list {
  display: grid;
  grid-gap: 0 40px;
  grid-template-columns: 1fr 1fr 1fr;

  .benefits__box {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 108px 50px 0;
    height: 265px;
    overflow: hidden;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #fff 0%, rgba(13, 14, 18, 0) 33.33%, rgba(13, 14, 18, 0) 66.67%, #fff 100%);

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      right: 2px;
      top: 2px;
      bottom: 2px;
      border-radius: 50px;
      background-color: #0d0e12;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -70%;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #f6dc83;
      filter: blur(50px);
      transform: translateX(-50%);

      @include m($lg) {
        bottom: -115%;
      }
    }

    @include m(1400) {
      padding: 108px 38px 60px;
    }

    @include m(1250) {
      height: 300px;
    }

    @include m($lg) {
      padding: 80px 30px 38px;
      height: auto;
    }
  }

  li {
    position: relative;

    &:first-of-type {
      .benefits__box {
        p {
          max-width: 80%;

          @include m(1200) {
            max-width: 100%;
          }
        }
      }
    }

    p {
      z-index: 6;
      font-weight: 500;
      text-align: center;

      @include m(1400) {
        font-size: 22px;
      }

      @include m($lg) {
        max-width: 50%;
      }

      @include m($md) {
        max-width: 90%;
        font-size: 16px;
      }
    }

    img {
      position: absolute;
      left: 50%;
      top: -52%;
      z-index: 5;
      transform: translateX(-50%);

      @include m($lg) {
        top: -42%;
        max-width: 160px;
      }
    }
  }

  @include m($lg) {
    grid-gap: 88px 0;
    grid-template-columns: 1fr;
  }
}

.we {
  position: relative;
  background-image: url("../images/decor-whole.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.together {
  position: relative;
  background-image: url("../images/together.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits {
  padding: 180px 0 100px;

  h2 {
    margin-bottom: 162px;

    @include m(1400) {
      margin-bottom: 142px;
    }

    @include m($lg) {
      margin-bottom: 88px;
    }
  }

  @include m(1400) {
    padding: 80px 0;
  }
}

.about {
  padding: 100px 0 50px;
  overflow: hidden;

  &__wrapper {
    position: relative;
    z-index: 5;
    padding: 52px 0 82px;
    border-radius: 50px;
    background-image: radial-gradient(99% 135% at 20% 80%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 59.9%);
    background-color: #fff;

    &::before {
      content: url("../images/deco.svg");
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      z-index: -11;
      border-radius: 42px;
      background-image: linear-gradient(90deg, #c4c5c7 0%, #f8f8f8 17.71%, #fff 100%);

      @include m($lg) {
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        border-radius: 22px;
      }
    }

    @include m(1250) {
      padding: 30px 0 50px;
    }

    @include m($lg) {
      padding: 20px 0 50px;
      border-radius: 25px;
    }
  }

  h2 {
    margin-bottom: 20px;
    color: #0d0e12;
  }

  &__stars {
    margin: 0 auto 3px;
  }

  &__text {
    margin: 0 auto 70px;
    padding: 0 20px;
    text-align: center;
    color: #636363;

    @include m(1250) {
      margin: 0 auto 50px;
      font-size: 22px;
    }

    @include m($lg) {
      margin: 0 auto 35px;
      font-size: 18px;
    }

    @include m($md) {
      font-size: 16px;
    }
  }

  &__inner {
    z-index: 5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 30px;

    @include m($lg) {
      flex-direction: column-reverse;
    }

    @include m($md) {
      padding: 0 20px;
    }
  }

  &__descr {
    margin-right: 80px;
    max-width: 680px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;

    h4 {
      margin-bottom: 20px;
      padding: 30px 60px 0 40px;
      font-weight: 500;
      color: #0d0e12;

      @include m(1250) {
        padding: 30px 30px 0;
      }

      @include m($lg) {
        padding: 15px 28px 0;
        font-size: 18px;
        text-align: center;
      }

      @include m($md) {
        padding: 15px 18px 0;
      }
    }

    p {
      padding: 0 60px 0 40px;
      font-size: 20px;
      color: #0d0e12;

      &:not(:first-of-type) {
        margin-top: 28px;

        @include m($xl) {
          margin-top: 20px;
        }

        @include m($lg) {
          margin-top: 10px;
        }
      }

      span {
        font-weight: 600;
      }

      @include m(1250) {
        padding: 0 30px;
      }

      @include m($lg) {
        padding: 0 28px;
        font-size: 16px;
        text-align: center;
      }

      @include m($md) {
        padding: 0 18px;
      }
    }

    @include m(1400) {
      margin-right: 50px;
    }

    @include m($xl) {
      margin-right: 40px;
    }

    @include m($lg) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__important {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    padding: 32px 0 42px;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #eb5554 0%, #d32c2b 100%);

    &::before {
      content: "";
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      z-index: -2;
      border: 1px dashed #fff;
      border-radius: 5px;

      @include m($md) {
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
      }
    }

    &::after {
      content: url("../images/list.png");
      position: absolute;
      right: -14%;
      top: -85%;
      z-index: -1;
      transform: scale(0.58);

      @include m(1250) {
        right: -18%;
        top: -78%;
        transform: scale(0.48);
      }

      @include m($xl) {
        right: -22%;
        top: -66%;
      }

      @include m($lg) {
        right: -182px;
        top: -166px;
        transform: scale(0.38);
      }

      @include m($sm) {
        right: -196px;
        top: -186px;
        transform: scale(0.3);
      }
    }

    h3 {
      margin-bottom: 20px;
      padding: 0 60px 0 40px;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #fff;

      @include m(1250) {
        padding: 0 30px;
      }

      @include m($lg) {
        padding: 0 28px;
        font-size: 20px;
        text-align: center;
      }
    }

    p {
      font-size: 20px;
      color: #fff;

      @include m($lg) {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  &__stats {
    width: fit-content;

    h4 {
      margin-bottom: 10px;
      font-weight: 800;
      font-size: 48px;
      line-height: 1;
      text-transform: uppercase;
      color: #f4c361;

      span {
        font-weight: 400;
      }

      &:not(:first-of-type) {
        margin-top: 40px;
      }

      @include m(1400) {
        font-size: 42px;
      }

      @include m($lg) {
        font-size: 34px;
        text-align: center;
      }

      @include m($md) {
        font-size: 28px;
      }
    }

    p {
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: #545454;

      @include m($lg) {
        text-align: center;
      }
    }

    @include m($lg) {
      margin-bottom: 40px;
      width: 100%;
      max-width: 100%;
    }
  }

  &__button {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;
    padding: 0 81px 5px;
    width: fit-content;
    min-height: 100px;
    border-radius: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6b521e;
    background-color: #503706;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 5px;
      z-index: -1;
      width: 100%;
      height: 100px;
      border-radius: 100px;
      background-image: linear-gradient(155deg, #fff 0%, #f4c361 33.33%, rgba(#c9a04e, 1) 66.67%, #c9a04e 100%);

      @include m($xl) {
        height: 80px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 98%;
      height: 92px;
      border-radius: 100px;
      background-image: radial-gradient(90.5% 90.5% at 50% 26.5%, #f4c361 0%, #c9a04e 100%);

      @include m($xl) {
        height: 72px;
      }
    }

    img {
      margin: 0 auto;
      width: 100%;
      border-radius: 100px;
      text-align: center;
    }

    @include m($xl) {
      padding: 0 60px 5px;
      min-height: 80px;
      font-size: 22px;
    }

    @include m(1250) {
      margin: 60px auto 0;
    }

    @include m($lg) {
      padding: 0 30px 5px;
      font-size: 20px;
    }

    @include m($md) {
      padding: 0 15px 5px;
      font-size: 18px;
    }
  }

  @include m($lg) {
    padding: 80px 0 50px;
  }
}

.start {
  padding: 100px 0 50px;

  h2 {
    margin-bottom: 20px;
  }

  &__text {
    margin: 0 auto 51px;
    max-width: 652px;
    text-align: center;

    @include m($xl) {
      font-size: 22px;
    }

    @include m($md) {
      font-size: 18px;
    }

    @include m($sm) {
      font-size: 16px;
    }
  }

  &__decor {
    left: 28% !important;
    top: 21% !important;
    transform: none !important;

    @include m(1300) {
      top: 31% !important;
    }

    @include m($lg) {
      left: auto !important;
      right: -10% !important;
      top: 16% !important;
      max-width: 252px !important;
    }

    @include m($md) {
      right: -16% !important;
    }

    @include m(544) {
      right: -21% !important;
    }

    @include m(416) {
      right: -25% !important;
    }

    @include m(372) {
      right: -29% !important;
    }
  }

  &__decor-second {
    left: 25% !important;
    top: 43% !important;
    transform: none !important;

    @include m(1300) {
      left: 13% !important;
      top: 52% !important;
    }

    @include m($lg) {
      left: auto !important;
      right: -2% !important;
      top: 43% !important;
      max-width: 200px !important;
    }
  }

  &__number {
    left: 75% !important;
    right: 0 !important;
    top: 32% !important;
    z-index: 2 !important;
    width: 100% !important;
    max-width: 200px !important;

    @include m($lg) {
      left: auto !important;
      right: -15% !important;
      top: 23% !important;
    }
  }

  .rv-list {
    li {
      p {
        @include m(1300) {
          font-size: 20px;
        }
      }

      &:last-of-type {
        .benefits__box {
          @include m($lg) {
            padding: 85px 30px 140px;
          }

          @include m($sm) {
            height: 350px;
          }
        }
      }
    }

    .about__button {
      position: absolute;
      margin: 120px auto 0;

      @include m(1300) {
        margin: 140px auto 0;
      }

      @include m($lg) {
        margin: 80px auto 30px;
      }

      @include m($sm) {
        margin: 130px auto 30px;
      }
    }

    .benefits__box {
      padding: 120px 40px 0;
      height: 410px;

      &::after {
        left: 85%;
        bottom: -40%;

        @include m($lg) {
          bottom: -82%;
        }
      }

      @include m(1300) {
        height: 380px;
      }

      @include m($lg) {
        padding: 85px 30px 100px;
        height: auto;
      }

      @include m($md) {
        padding: 85px 30px 130px;
      }
    }

    li:last-child {
      .start__require {
        span {
          padding-bottom: 7px;
          font-size: 24px;
        }
      }

      .benefits__box {
        @include m($sm) {
          height: 400px;
        }
      }

      .about__button {
        @include m($lg) {
          padding: 0 50px 5px;
        }

        @include m($sm) {
          margin: 150px auto 30px;
        }
      }
    }

    @include m(1300) {
      grid-gap: 0 30px;
    }

    @include m($lg) {
      grid-gap: 40px 0;
    }
  }

  &__require {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 80px;
    border-radius: 0 0 10px 10px;
    font-size: 24px;
    line-height: 1.4;
    background-image: linear-gradient(180deg, #eb5554 0%, #d32c2b 100%);
    transform: translateX(-50%);

    p {
      margin-right: 4px;
      max-width: 100% !important;
      font-weight: 600 !important;
      text-transform: uppercase;

      @include m($xl) {
        font-size: 22px;
      }
    }

    span {
      padding-bottom: 5px;
      font-size: 29px;
    }

    @include m(1300) {
      width: 240px;
    }

    @include m($xl) {
      width: 200px;
      height: 60px;
    }

    @include m($lg) {
      padding: 0 20px;
      width: fit-content;
    }
  }
}

.what {
  padding: 100px 0 86px;

  h2 {
    margin-bottom: 60px;

    @include m($md) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-gap: 0 40px;
    grid-template-columns: 1fr 1fr;
    transition: all 0.5s;

    .nomore {
      opacity: 0;
    }

    @include m($lg) {
      grid-gap: 40px 0;
      grid-template-columns: 1fr;
    }

    @include m($md) {
      height: 200px;
      overflow: hidden;
      transition: all 0.5s;
    }

    @include m($sm) {
      height: 300px;
    }
  }

  &__wrapper-active {
    height: 100%;
  }

  &__part {
    max-width: 560px;

    p {
      position: relative;
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 22px;

        @include m($xl) {
          margin-bottom: 15px;
        }
      }

      span {
        font-weight: 600;
      }
    }

    @include m($lg) {
      max-width: 100%;
    }
  }

  @include m($lg) {
    padding: 80px 0 60px;
  }

  @include m($md) {
    padding: 80px 0 40px;
  }
}

.vacancies {
  padding: 91px 0 50px;

  h2 {
    margin-bottom: 60px;
    color: #f4c361;
  }

  &__box {
    display: flex;
    align-items: center;
    padding: 0 20px;

    &:last-of-type {
      margin-top: 20px;
      margin-bottom: 41px;
    }

    img {
      margin-right: 20px;

      @include m(1400) {
        margin-right: 10px;
      }
    }

    span {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000;
    }

    @include m(1400) {
      padding: 0;
    }
  }

  ul {
    display: grid;
    grid-gap: 0 40px;
    grid-template-columns: 1fr 1fr 1fr;

    li {
      position: relative;
      border-radius: 50px;
      background-image: radial-gradient(99% 135% at 20% 80%, rgba(0, 0, 0, 0.5) 18%, rgba(0, 0, 0, 0) 59.9%);

      &:last-of-type {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 160px 60px 0;
        overflow: hidden;
        border-radius: 50px;
        background-image: linear-gradient(135deg, #fff 0%, rgba(13, 14, 18, 0) 33.33%, rgba(13, 14, 18, 0) 66.67%, #fff 100%);

        &::before {
          content: "";
          position: absolute;
          left: 2px;
          right: 2px;
          top: 2px;
          bottom: 2px;
          border-radius: 50px;
          background-color: #0d0e12;
        }

        p {
          z-index: 4;
          margin-bottom: 80px;
          font-weight: 400;
          font-size: 24px;
          line-height: 1.4;
          text-align: center;
          color: #fff;

          @include m(1400) {
            font-size: 20px;
          }

          @include m($md) {
            margin-bottom: 40px;
          }
        }

        h6 {
          z-index: 2;
          margin-bottom: 40px;
          font-weight: 400;
          font-size: 16px;
          line-height: 1.4;
          text-align: center;
          color: #fff;
        }

        h3 {
          z-index: 2;
          margin-bottom: 20px;
          font-weight: 700;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0.05em;
          text-align: center;
          color: #fff;
        }

        h4 {
          z-index: 2;
          border: none;
          font-weight: 400;
          font-size: 24px;
          line-height: 1;
          letter-spacing: 0.05em;
          text-align: center;
          text-transform: lowercase;
          color: #eb5554;
        }
      }

      h4 {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(#d8d8d8, 0.5);
        font-weight: 700;
        font-size: 32px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        color: #0d0e12;

        @include m(1400) {
          margin-bottom: 30px;
          padding-bottom: 30px;
          font-size: 28px;
        }

        @include m($xl) {
          font-size: 24px;
        }
      }

      p {
        margin-bottom: 40px;
        font-size: 16px;
        text-align: center;
        color: #646464;

        span {
          font-weight: 700;
        }

        @include m(1400) {
          margin-bottom: 30px;
        }

        @include m($xl) {
          margin-bottom: 20px;
        }
      }

      h6 {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
        color: #0d0e12;
      }

      h5 {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 32px;
        line-height: 1;
        letter-spacing: 0.05em;
        text-align: center;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background: linear-gradient(180deg, #eb5554 0%, #d32c2b 100%);
        background-clip: text;
      }

      .about__button {
        margin: 0 0 45px !important;
        padding: 0 20px 5px !important;
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        color: #6b521e;

        @include m(1400) {
          min-height: 80px;
          font-size: 18px;

          &::before {
            height: 80px;
          }

          &::after {
            height: 72px;
          }
        }

        @include m($xl) {
          font-size: 16px;
        }
      }

      &:first-of-type,
      &:nth-of-type(2) {
        z-index: 2;
        padding: 120px 40px 0;
        background-color: #fff;

        &::after {
          content: "";
          position: absolute;
          left: 5px;
          right: 5px;
          top: 5px;
          bottom: 5px;
          z-index: -1;
          border-radius: 47px;
          background-image: linear-gradient(90deg, #c4c5c7 0%, #f8f8f8 17.71%, #fff 100%);
        }

        @include m(1400) {
          padding: 120px 25px 0;
        }

        @include m($xl) {
          padding: 90px 20px 0;
        }
      }
    }

    @include m($lg) {
      grid-gap: 40px 0;
      grid-template-columns: 1fr;
    }

    @include m(1400) {
      grid-gap: 30px;
    }
  }

  &__label {
    position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    max-width: 300px;
    border-radius: 0 0 25px 25px;
    background-image: linear-gradient(180deg, #eb5554 0%, #d32c2b 100%);
    transform: translateX(-50%);

    span {
      font-weight: 700;
      font-size: 32px;
      line-height: 1;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      color: #fff;

      @include m(1400) {
        font-size: 28px;
      }

      @include m($xl) {
        font-size: 22px;
      }

      @include m($lg) {
        font-size: 18px;
      }
    }

    @include m(1400) {
      padding: 0 40px;
      width: fit-content;
      height: 60px;
    }
  }

  @include m($lg) {
    padding: 70px 0 40px;
  }
}

.more {
  position: absolute;
  left: 50%;
  bottom: -35px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: rgba(#fff, 0.5);
  transform: translateX(-50%);
  cursor: pointer;

  &::after {
    content: url("../images/plus.svg");
    position: absolute;
    left: 50%;
    top: 50px;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  @include m($md) {
    visibility: visible;
    opacity: 1;
  }
}

.hide {
  transition: all 0.5s;

  @include m($md) {
    opacity: 0;
  }
}

.visible {
  opacity: 1;
}