.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  padding-top: 30px;
  padding-bottom: 0;
  background-color: transparent;
  transition: all 0.3s;
}

.header--active {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(#0d0e12, 0.82);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    margin-right: 40px;
    margin-left: auto;

    li {
      + li {
        margin-left: 40px;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
      }
    }
  }
}

.rv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  width: fit-content;
  min-height: 60px;
  border: 1px solid #f4c361;
  border-radius: 100px;
  background-color: transparent;

  p {
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }
}