.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  padding-top: 30px;
  padding-bottom: 0;
  background-color: transparent;
  transition: all 0.3s;

  .menu__tel {
    display: flex;
    align-items: center;

    small {
      display: none;
      margin: 30px auto 0;
      width: 100%;
      font-weight: 800;
      font-size: 43px;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      color: #fff;

      span {
        position: relative;
        display: none;
        margin: 0 auto;
        width: fit-content;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #f4c361;
        color: #f4c361;

        &::after {
          content: url("../images/rocket2.png");
          position: absolute;
          right: -61%;
          top: -91%;
          z-index: 1;
          display: none;
          transform: scale(0.7);

          @include m($lg) {
            display: block;
          }
        }

        @include m($lg) {
          display: block;
        }
      }

      @include m($lg) {
        display: block;
      }
    }

    @include m($lg) {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      padding-top: 110px;
      width: 100%;
      height: 120vh;
      background-color: rgba(13, 14, 18, 0.8);
      transform: translateX(200%);
      transition: all 0.35s;
      backdrop-filter: blur(7.5px);

      ul {
        flex-direction: column;
        margin-right: 0 !important;
        margin-bottom: 40px;
        margin-left: 0;

        li {
          a {
            margin: 0 auto;
            width: fit-content;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: #fff;
          }

          + li {
            margin-left: 0 !important;
          }

          &:not(:last-child) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .menu__tel--active {
    transform: translateX(0);
  }

  .menu {
    ul {
      li {
        + li {
          @include m(1400) {
            margin-left: 30px;
          }

          @include m(1200) {
            margin-left: 25px;
          }

          @include m(1150) {
            margin-left: 15px;
          }
        }

        a {
          @include m(1150) {
            font-size: 14px;
          }
        }
      }

      @include m(1400) {
        margin-right: 30px;
      }

      @include m(1150) {
        margin-right: 20px;
      }
    }

    .rv-button {
      @include m(1400) {
        padding: 0 30px;
      }

      @include m(1150) {
        padding: 0 20px;
      }

      @include m(1150) {
        padding: 0 40px;
      }
    }
  }

  .logo {
    z-index: 20;

    @include m(1200) {
      max-width: 180px;
    }

    @include m(1150) {
      max-width: 170px;
    }
  }

  @include m($lg) {
    padding-top: 20px;
  }
}

.menu__burger {
  position: relative;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.2s;
  }

  img:first-of-type {
    visibility: visible;
    opacity: 1;
  }

  img:last-of-type {
    visibility: hidden;
    opacity: 0;
  }

  @include m($lg) {
    display: flex;
  }
}

.menu__burger--close {
  img:first-of-type {
    visibility: hidden;
    opacity: 0;
  }

  img:last-of-type {
    visibility: visible;
    opacity: 1;
  }
}

.header--active {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(#0d0e12, 0.82);

  @include m($lg) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    margin-right: 40px;
    margin-left: auto;

    li {
      + li {
        margin-left: 40px;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
      }
    }
  }
}

.rv-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  width: fit-content;
  min-height: 60px;
  border: 1px solid #f4c361;
  border-radius: 100px;
  background-color: transparent;

  p {
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }
}